

<section class="py-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="bootstrap-tabs product-tabs">
                    <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                        <h3>Ürünlerimiz </h3>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">

                                <a href="#nav-All" class="nav-link text-uppercase fs-6" data-bs-toggle="tab" data-bs-target="#nav-All">Tüm Ürünler</a>

                                <a href="#nav-FruitsVegetables" class="nav-link text-uppercase fs-6 active" data-bs-toggle="tab" data-bs-target="#nav-FruitsVegetables">Meyve & Sebze</a>
                                <a href="#" class="nav-link text-uppercase fs-6" data-bs-toggle="tab" data-bs-target="#nav-MilkProducts">Süt & Süt Ürünleri</a>
                                <a href="#" class="nav-link text-uppercase fs-6" data-bs-toggle="tab" data-bs-target="#nav-Drinks">İçecekler</a>
                                <a href="#" class="nav-link text-uppercase fs-6" data-bs-toggle="tab" data-bs-target="#nav-Snacks">Atıştırmalıklar</a>
                                <a href="#" class="nav-link text-uppercase fs-6" data-bs-toggle="tab" data-bs-target="#nav-BreakfasProducts">Kahvaltılık Ürünler</a>
                                <a href="#" class="nav-link text-uppercase fs-6" data-bs-toggle="tab" data-bs-target="#nav-MeatProducts">Et Ürünleri</a>

                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">




                        @await Component.InvokeAsync("_DefaultProductPartialAll")


                        @await Component.InvokeAsync("_DefaultProductPartialFruitsVegetables")


                        @await Component.InvokeAsync("_DefaultProductPartialMilkProducts")


                        @await Component.InvokeAsync("_DefaultProductPartialDrinks")


                        @await Component.InvokeAsync("_DefaultProductPartialSnacks")


                        @await Component.InvokeAsync("_DefaultProductPartialBreakfastProducts")


                        @await Component.InvokeAsync("_DefaultProductPartialMeatProducts")



                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
