
@{
    ViewData["Title"] = "Index";
    Layout = null;
}


@await Component.InvokeAsync("_DefaultHeadPartial")


<body>

    @await Component.InvokeAsync("_DefaultHeaderPartial")





    @await Component.InvokeAsync("_DefaultFeature_DiscountPartial")


  

   
    @await Component.InvokeAsync("_DefaultCategoryPartial")

  



    @await Component.InvokeAsync("_DefaultProductPartial")





    @await Component.InvokeAsync("_DefaultDiscount2Partial")





    @await Component.InvokeAsync("_DefaultBestSellingProductsPartial")

  



    @await Component.InvokeAsync("_DefaultSendMailPartial")


  


    @await Component.InvokeAsync("_DefaultLastAndFooterPartial")

  



    @await Component.InvokeAsync("_DefaultScriptsPartial")


</body>
</html>

