@model List<MongoDbFoodMart.Dtos.FeatureDto.ResultFeatureDto>


@{
    string backColor = "";
    int count = 0;
}



<section class="py-5">
    <div class="container-fluid">
        <div class="row">


            @foreach (var item in Model)
            {
                count++;

                if (count == 1)
                {
                    backColor = "banner-ad bg-danger mb-3";
                }
                else
                {
                    backColor = "banner-ad bg-info";
                }

                <div class="col-md-6">
                    <div class="@backColor" style="background: url('@item.ImageUrl'); background-repeat: no-repeat; background-position: right bottom; background-size: 300px 300px;">
                        <div class="banner-content p-5">

                            <div class="categories text-primary fs-3 fw-bold">%40'a Varan İndirim</div>
                            <h3 class="banner-title">@item.Title</h3>
                            <p>@item.Description</p>
                            <a href="#" class="btn btn-dark text-uppercase">Şimdi Al!</a>

                        </div>

                    </div>
                </div>
               @*  <div class="col-md-6">
                    <div class="banner-ad bg-info" style="background: url('../FoodMart-1.0.0/images/ad-image-4.png');background-repeat: no-repeat;background-position: right bottom;">
                        <div class="banner-content p-5">

                            <div class="categories text-primary fs-3 fw-bold">Upto 25% Off</div>
                            <h3 class="banner-title">Creamy Muffins</h3>
                            <p>Very tasty & creamy vanilla flavour creamy muffins.</p>
                            <a href="#" class="btn btn-dark text-uppercase">Show Now</a>

                        </div>

                    </div>
                </div> *@

            }

        </div>
    </div>
</section>